.promo {
    width: 100%;
    height: 50px;
    background: #FE525B;
    color: #FFF;
}

.promo p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: .1em;
    text-align: center;
    padding-top: 12px;    
}

.banner {
    width: 100%;
    height: 500px;
    background: url("../img/bg-photo.jpg") no-repeat center ;
    background-size: cover;
    clear: both;

}

.menu-navegacao {
    background: rgba(255,255,255, .6);
    width: 100%;
    height: 200px;  
    text-align: center;  
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: .1em;
    text-align: center;
    padding-top: 12px;  
}  

.menu-navegacao ul li {
    display: inline-block;
}

.menu-navegacao ul li a{
    margin: 30px 10px;
    padding: 10px 0;
}